.jumbotron {
  background-image: url("./imgs/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
/* 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */

  max-height: 80vw;
}

.infobox {
  padding: 20px;
  background-color: rgb(63, 90, 105);
  border-radius: 15px;
  width: 50vw;
  margin-top: 35vw;
  text-align: center;
  color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.download-link, .download-link:hover {
  color: antiquewhite;
}
